.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40, 40, 40,.7);
  transition: transform ease-in 600s ;
  backdrop-filter: blur(2px);
  z-index: 5;
}

.backdrop .enlarged-img{
  display: block;
  min-width: 30%;
  height: auto;
  max-height: 70%;
  margin: 8% auto;
  /* margin: 60px auto; */
  /* border: 2px solid white; */
  box-shadow: 3px 5px 15px rgba(0,0,0,0.5);

}

@media(max-width:480px){
  .backdrop{
    top: 100px;
  }
  .backdrop .enlarged-img{
    max-width: 80%;
    height: auto;
    margin: 50% 10%;
  }
}